<div *ngIf="patient">
  <body style="background-color:powderblue;">
  <h2>{{patient.name}}</h2>
  <div>
  	<label>ID: </label>{{patient.id}}
  </div>
  <div>
  	<label>Birth Date: </label>{{patient.birthdate}}
  </div>
  <div>
  	<label>SSN: </label>{{patient.ssn}}
  </div>
  <div>
  	<label>Gender: </label>{{patient.gender}}
  </div>
  <div>
  	<label>Phone Number:
  		<input [(ngModel)]="patient.phone" placeholder="phone"/>
  	</label>
  </div>
  <div>
  	<label>Address: 
  		<input [(ngModel)]="patient.address" placeholder="address"/>
  	</label>
  </div>
  <div>
  	<label>Insurance ID: 
  		<input [(ngModel)]="patient.insurance" placeholder="insurance"/>
  	</label>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save Changes</button>
  </body>
</div>