<body style="background-color:powderblue;">
<div *ngIf="prescription">
  <h2>{{prescription.start_date}} to {{prescription.end_date}} details:</h2>
  <div><span>Patient ID: </span>{{prescription.id}}</div>
  <div><span>id: </span>{{prescription.id}}</div>
  <div><span>id: </span>{{prescription.id}}</div>
  <div><span>id: </span>{{prescription.id}}</div>
  <div><span>id: </span>{{prescription.id}}</div>
  <div><span>id: </span>{{prescription.id}}</div>
  <div><span>id: </span>{{prescription.id}}</div>
</div>
</body>